@import url("https://fonts.googleapis.com/css2?family=Afacad&family=Poppins:wght@500&family=Roboto+Mono&display=swap");

body {
    color: white;
    background: black;
    font-family: "Roboto Mono", monospace;
}

a {
    color: white;
    text-decoration: none;
}

/* NAVBAR */

#nav {
    position: absolute;
    top: 1.5vw;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    height: 3vw;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1vw);
}

#navLogo {
    position: relative;
    top: 50%;
    left: 1.5vw;
    transform: translateY(-50%);
    width: 5vw;
    font-size: 0.8vw;
    cursor: pointer;
    font-family: "Afacad", sans-serif;
    transition: 0.25s;
}

#navLogo:hover {
    color: red;
}

#navLogo > span {
    margin-left: 0.3vw;
    letter-spacing: 0.2vw;
    font-size: 1vw;
}

#navLogo > span > span {
    position: absolute;
    top: 0.1vw;
    margin-left: 0.25vw;
    font-size: 0.6vw;
}

#navLinks {
    position: absolute;
    top: 50%;
    right: 1.5vw;
    transform: translateY(-50%);
    font-size: 0.65vw;
}

#navLinks > a::before {
    content: "• ";
    opacity: 0%;
}

#navLinks > a:hover::before {
    opacity: 100%;
}

#navLinks > a {
    margin-left: 1vw;
}

#navLinks > a:hover,
#navLinks > a:hover::before {
    color: red;
    transition: 0.25s;
}

/* VIDEO */

#mainVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 60%;
    z-index: -1;
}

/* TITLE/DESC */

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vw;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
    filter: invert(0);
    mix-blend-mode: difference;
}

#desc {
    font-size: 0.7vw;
    position: absolute;
    left: 1.2vw;
    bottom: 1vw;
    color: rgb(200, 200, 200);
}

#desc > span {
    color: white;
}
